@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-datepicker/dist/react-datepicker.css";

@layer utilities {

  .navbar-background {
    @apply dark:bg-gray-1200 bg-gray-500;
  }

  .navbar-button-background {
    @apply dark:bg-gray-1000 bg-gray-300;
  }

  .navbar-border {
    @apply dark:border-white border-black;
  }

  .navbar-testo {
    @apply dark:text-white text-black;
  }

  .navbar-toggle {
    @apply dark:text-white text-black;
  }

  .general-background {
    @apply dark:bg-gray-1000 bg-gray-300;
  }

  .index-testo {
      @apply dark:text-white text-black;
  }

  .general-testo {
    @apply dark:text-white text-black;
  }

  .general-border {
    @apply dark:border-white border-black;
  }

  .general-button-testo {
    @apply dark:bg-gray-900 bg-gray-200;
  }

  .box-background {
    @apply dark:bg-gray-1200 bg-gray-500;
  }

  .box-button-background {
    @apply dark:bg-gray-900 bg-gray-200;
  }

  .footer-background {
    @apply dark:bg-gray-1200 bg-gray-500;
  }

  .footer-border {
    @apply dark:border-white border-black;
  }

  .footer-text {
    @apply dark:text-gray-300 text-gray-1300;
  }

  .react-datepicker-wrapper {
    width: 100% !important;
    display: inline-block;
    padding: 0;
    border: 0;
  }

  .fundo{
  animation: scales 3s alternate  infinite;
  transform-origin: center;
  }
  .pao-baixo{
     animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
    transform-origin: center;
  }
  .pao-cima{
     animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
    transform-origin: center;
  }
  .olhos{animation: olhos   2s  alternate  infinite;
     transform-origin: center;
  }

  .left-sparks{animation: left-sparks   4s  alternate  infinite;
        transform-origin: 150px 156px;
  }

  .right-sparks{animation: left-sparks   4s  alternate  infinite;
        transform-origin: 310px 150px;
  }

  .olhos{animation: olhos   2s  alternate  infinite;
     transform-origin: center;
  }
  @keyframes scales{
    from { transform: scale(0.98)}
    to{ transform: scale(1)}
  }

  @keyframes rotatepao{
    0% { transform:  rotate(0deg)}
    50% , 60%{ transform:  rotate(-20deg)}
    100%{  transform:  rotate(0deg) }

  }

  @keyframes olhos{
    0%{
      transform: rotateX(0deg);
    }
     100%{
      transform: rotateX(30deg);
    }
  }

  @keyframes left-sparks{
    0%{
      opacity: 0;
    }

  }


  .main{

    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s   alternate infinite;
  }

  @keyframes dash{
     0%, 30%{
       fill: 4B4B62;
      stroke-dashoffset:   0;
    }
     80%,100%{
       fill: transparent;
      stroke-dashoffset:  -200;
    }


  }

}
